<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}">
  {% endif %}

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.tags %}{{ page.tags }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/images/favicons/apple-touch-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "assets/images/favicons/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">

  <link rel="manifest" href="{{ "assets/images/favicons/manifest.json" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "assets/images/favicons/favicon.ico" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
  <link rel="stylesheet" href="{{ "assets/css/pace-dataurl.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}feed.xml">
</head>